@charset "utf-8";

@media all and (max-width:414px){

	/* 테라비전- 01 */
	.teravi_page01 .div2 img {bottom:26px;}

	/* 테라비전- 02 */
	.teravi_page02 .div1 img {bottom:-6px;}	
	
	/* 테라비전- 03 */
	.teravi_page03 .div2 img {bottom:26px;}

	/* 테라비전- 04 */
	.teravi_page04 .div1 img {bottom:-6px;}	

	/* 테라비전- 05 */
	.teravi_page05 .div2 img {bottom:25px;}
	
	/* 테라비전- 06 */
	.teravi_page06 .div1 img {bottom:2px;}	
}
